<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 
    <appender name="RollingAppender" class="org.apache.log4j.DailyRollingFileAppender">
       <param name="File" value="logs/qrda.log" />
       <param name="DatePattern" value="'.'yyyy-MM-dd" />
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="[%p] %d{HH:mm:ss,SSS} %-5p %l - %m%n"/>          
       </layout>
    </appender>
 	
 	<logger name="org.sitenv.services.getdc.GetDCService">
        <level value="INFO" />
        <appender-ref ref="RollingAppender" />
    </logger>
 	
    <root>
        <priority value="WARN"/>
        <appender-ref ref="RollingAppender" />
    </root>
</log4j:configuration>  